html {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	font-family: Helvetica Neue, Helvetica, Verdana, Roboto, sans-serif;
}
*,
*:after,
*:before {
	box-sizing: inherit;
}
body {
	margin: 0;
}
.container {
	width: 90%;
	max-width: 960px;
	margin: 20px auto;
}
h1,
a {
	color: #0B486B;
}
h1,
.row ~ p {
	text-align: center;
}
.status {
	color: #3B8686;
}
.row {
	*zoom: 1;
	margin-bottom: 2em;
	counter-reset: colNum;
}
.row:before,
.row:after {
	content: '';
	display: table;
}
.row:after {
	clear: both;
}
.row + .row {
	margin-top: 40px;
}
.col {
	width: 100%;
	padding: 20px;
	float: left;
	counter-increment: colNum;
}
.col:nth-child(n) {
	background-color: #CFF09E;
}
.col:nth-child(2n) {
	background-color: #A8DBA8;
}
.col:nth-child(3n) {
	background-color: #79BD9A;
	color: #FFF;
}
.col:nth-child(4n) {
	background-color: #3B8686;
	color: #FFF;
}
.col:nth-child(5n) {
	background-color: #0B486B;
	color: #FFF;
}
.col > *:first-child:before {
	content: counter(colNum);
	display: inline-block;
	padding: 3px 5px;
	margin-right: 5px;
	background-color: #000;
	color: #FFF;
}
p {
	margin: 0;
}
p + p {
	margin-top: 1em;
}

@media screen and (max-width: 599px) {
	.col + .col {
		margin-top: 40px;
	}
}

@media screen and (min-width: 600px) {
	.col {
		width: 50%;
	}
}

@media screen and (min-width: 1000px) {
	.col {
		width: 33.33333%;
	}
}

@media screen and (min-width: 1200px) {
	.col {
		width: 25%;
	}
	.col:nth-child(4n) {
		float: right;
	}
}